<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Kors Look</title>
<meta content="" name="description">
<meta content="" name="author">
<link rel="shortcut icon" type="/image/x-icon" href="~/images/favicon.png">
<link rel="icon" type="image/png" href="/images/favicon.png">
<link rel="apple-touch-icon" href="/images/favicon.png">
<link href="~/Content/bootstrap.css" rel="stylesheet">
<link href="~/Content/style.css" rel="stylesheet" type="text/css">
<link href="~/Content/font-awesome.css" rel="stylesheet" type="text/css">
<link href='https://fonts.googleapis.com/css?family=Poppins:300,500,600,700' rel='stylesheet' type='text/css'>
<link href="~/Content/owl.carousel.css" rel="stylesheet" type="text/css">
</head>
<body id="index">
    <div class="wrapar">
        <!-- Header Start-->
        <div class="header">
            <ul class="nav nav-pills">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Active</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="~/Home/signUp">Sign Up</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="~/Home/login">Login</a>
                </li>

               
            </ul>
        </div>

    </div>
    <!-- Header End -->
    <!-- Main menu Start -->
    <div id="main-menu">
        <div class="container">
            <nav class="navbar navbar-default">
                <div class="navbar-header">
                    <button aria-controls="navbar" data-target="#navbar" data-toggle="collapse" class="navbar-toggle collapsed" type="button"> <span class="sr-only">Toggle navigation</span> <span class="icon-bar"></span> <span class="icon-bar"></span> <span class="icon-bar"></span> </button>
                    <a href="#" class="navbar-brand">menu</a>
                </div>
                <div class="navbar-collapse collapse" id="navbar">
                    <ul class="nav navbar-nav">
                        <li><a href="index.html">HOME</a></li>
                        <li><a href="grid-view.html">WOMEN</a></li>
                        <li><a href="grid-view.html">MEN</a><span class="new">new</span></li>
                        <li class="dropdown">
                            <a aria-expanded="false" aria-haspopup="true" role="button" data-toggle="dropdown" class="dropdown-toggle" href="#"> PAGES<span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="checkout.html">Checkout</a></li>
                                <li><a href="cart.html">Shoping Cart</a></li>
                                <li><a href="checkout-step1.html">Billing & shipping address</a></li>
                                <li><a href="checkout-step2.html">Delivery method </a></li>
                                <li><a href="checkout-step3.html">Payment method</a></li>
                                <li><a href="checkout-step4.html">Order riview</a></li>
                                <li><a href="404.html">Page Notfound</a></li>
                            </ul>
                        </li>
                        <li><a href="blog.html">BLOG</a></li>
                        <li><a href="contact-us.html">CONTACT US</a></li>
                        <li><a href="about-us.html">ABOUT US</a></li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
    <!-- Main menu End -->
    <!-- Main Banner Start-->
    <div id="banner">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div id="main-slider" class="owl-carousel">
                        <div class="item"><img src="images/main-banner1.jpg" alt="main-banner1"></div>
                        <div class="item"><img src="images/main-banner2.jpg" alt="main-banner2"></div>
                        <div class="item"><img src="images/main-banner3.jpg" alt="main-banner3"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <!-- 3 CMS Block Start -->
    <div id="cms">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="cms-block1 col-sm-4 col-sm-12">
                        <div class="stf">FREE SHIPPING & RETURN*</div>
                        <p>For all orders over $500</p>
                    </div>
                    <div class="cms-block2 col-sm-4 col-sm-12">
                        <div class="stf">MONEY BACK GUARANTEE</div>
                        <p>Return Over 30 Days</p>
                    </div>
                    <div class="cms-block3 col-sm-4 col-sm-12">
                        <div class="stf">25% ON STUDENT DISCOUNT</div>
                        <p>Excludes Sale In Store</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- 3 CMS Block End -->

    @RenderBody()

    <br />
    <br />
    <br />
    <br />
    <br />


    <!-- Footer block Start  -->
    <footer id="footer">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="newslatter">
                        <form>
                            <h2 class="tf">Be The First To Hear Our Exciting News</h2>
                            <p>This ante posuere ac Mauris non turpis eu metus congue sagittis Fusce at.</p>

                        </form>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-3">
                    <div class="about">
                        <div class="footer-logo"></div>
                        <p>Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature in Virginia</p>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="new-store">
                        <h4>What's in store</h4>
                        <ul class="toggle-footer">
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Delivery Options</a></li>
                            <li><a href="#">Brand Directory</a></li>
                            <li><a href="#">Buying Guides</a></li>
                            <li><a href="#">My Account</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="information">
                        <h4>information</h4>
                        <ul class="toggle-footer">
                            <li><a href="#">Returns</a></li>
                            <li><a href="#">Delivery Options</a></li>
                            <li><a href="#">Brand Directory</a></li>
                            <li><a href="#">Buying Guides</a></li>
                            <li><a href="#">My Account</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="contact">
                        <h4>Contact Us</h4>
                        <ul class="toggle-footer">
                            <li>
                                <i class="fa fa-map-marker"></i>
                                <div class="address-info">Warehouse & Offices 12345 Street name,California, USA </div>
                            </li>
                            <li>
                                <i class="fa fa-mobile"></i>
                                <div class="call-info">
                                    +91 987-654-321<br>
                                    <span>+0987-654-321</span>
                                </div>
                            </li>
                            <li>
                                <i class="fa fa-envelope"></i>
                                <div class="email-info"> <a href="#">support@lionode.com</a></div>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="social-link">
                            <ul>
                                <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                                <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                <li><a href="#"><i class="fa fa-pinterest-p"></i></a></li>
                                <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="footer-link">
                            <ul>
                                <li><a href="#">Specials</a></li>
                                <li><a href="#">Affiliates</a></li>
                                <li><a href="#">Gift Vouchers</a></li>
                                <li><a href="#">Brands</a></li>
                                <li><a href="#">Returns</a></li>
                                <li><a href="#">Site Map</a></li>
                                <li><a href="#">Contact Us</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="copy-right">
                            <p> All Rights Reserved. Copyright 2017 Powered by lionode.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="footer-offer">
                <h2>Deals of the Day: Unbox Latest Offers & Deals Every Single Day at Store.</h2>
            </div>
        </div>
    </footer>
    <!-- Footer block End  -->
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Content/jQuery.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/Content/bootstrap.js"></script>
    <script src="~/Content/owl.carousel.min.js"></script>
    <script src="~/Content/globle.js"></script>
</body>
</html>