
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>addproduct</title>
</head>
<body>
    <div>

        @Html.ActionLink("showusers", "showuser", "admin", null, new { @class = "btn btn-primary" })
    </div>
</body>
</html>
